body{
    background-color: rgb(140, 0, 255);
    color: white;
    font-family: "bai jamjuree", sans-serif;
    display: flex;
    justify-content: certer;
    align-items: certer;
    height: 700px;
    margin: 0;
}
button{
    background-color: plum;
    color: white;
    font-family: "bai jamjuree", sans-serif;
}